In [2]:
import streamlit as st
import pandas as pd
import plotly_express as px

# reading the data
df = pd.read_csv('../vehicles_us.csv')
df['manufacturer'] = df['model'].apply(lambda x:x.split()[0])

In [3]:
# let's see what the data looks like
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler

In [4]:
# a different way to view the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  manufacturer  51525 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 5.5+ MB

In [5]:
# Looking to see how much data is missing
print("Number of missing values", df.isnull().sum().sum())

Number of missing values 51991

In [6]:
# removing missing values
df = df.dropna()

In [7]:
# checking again for missing data
print("Number of missing values", df.isnull().sum().sum())

Number of missing values 0

In [8]:
# checking for duplicate values
df.duplicated().sum()

0

In [9]:
# some exploratory data analysis on the 'odometer' column
df['odometer'].describe()

count     14852.000000
mean     117713.691287
std       65610.650451
min           0.000000
25%       71597.500000
50%      115665.500000
75%      158378.000000
max      866000.000000
Name: odometer, dtype: float64

In [10]:
# creating first scatter plot using plotly-express
st.header('Price of Cars by Type')

fig_scatter = px.scatter(df, x='type', y='price')

st.plotly_chart(fig_scatter)

2023-04-18 10:09:32.064
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\Michael\Documents\Anaconda\envs\streamlit_dev\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [11]:
st.header('Average Car Listed for 24 Days')

fig_bar = px.bar(df, x='days_listed', y='model_year')

st.plotly_chart(fig_bar)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [12]:
st.header('Most Popular Car For Sale is from 2011')

fig_histo = px.histogram(df, x='model_year')

# fig_histo.show()

st.plotly_chart(fig_histo)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [13]:
st.header('Most Listed Cars Have Between 120k-125k Miles')

fig_histo_2 = px.histogram(df, x='odometer')

# fig_histo_2.show()

st.plotly_chart(fig_histo_2)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)